<!DOCTYPE html>
<html lang="pt-br" ng-app="clienteModule">

<head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>SEJA</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="css/bootstrap.css">
    </link>
    <script src="js/angular.min.js"></script>

    <style>
      
    #cadastro,
        #login {
            position: absolute;
            top:    150px;
            width: 98%;
            padding: 18px 6% 60px 6%;
            margin: 0 0 35px 0;
            background: rgb(247, 247, 247);
            border: 1px solid rgba(147, 184, 189, 0.8);

            -webkit-box-shadow: 5px;
            border-radius: 5px;

            -webkit-animation-duration: 0.5s;
            -webkit-animation-timing-function: ease;
            -webkit-animation-fill-mode: both;

            animation-duration: 0.5s;
            animation-timing-function: ease;
            animation-fill-mode: both;

                 }

                 img{
                     margin-top: 0%;
                     float: right;
                     margin-bottom: 50px;
                     width: 200px;
                 }
    </style>
</head>

<body ng-controller="clienteControl">

    <script src="js/jquery-3.1.0.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="control/clienteControl.js"></script>

    <div ng-include src="'menu.html'"></div>

    <br />
    <div class="card">
        <div class="card-header">Cadastro de Justificativas</div>
        <div class="card-body">
            <div>
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item" role="presentation" class="active">
                        <a class="nav-link active" href="#cadastro" aria-controls="cadastro" role="tab"
                            data-toggle="tab">Cadastro</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" href="#dados" aria-controls="dados" role="tab" data-toggle="tab">Dados</a>
                    </li>
                </ul>

               
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="cadastro">
                        <br>
                        <button type="button" ng-click="novo()" class="btn btn-info">Novo</button>
                        <button type="button" ng-click="salvar()" class="btn btn-success">Salvar</button>
                        <button type="button" ng-click="excluir()" class="btn btn-danger">Excluir</button>
                        <button type="button" ng-click="pesquisar()" class="btn btn-warning">Pesquisar</button>

                        <img src="img/logo.png">
                        <form>
                                
                            <hr />
                            <div class="form-row">
                                <div class="form-group col-md-2">
                                    <label for="inpuCodigo">Matrícula Aluno:</label>
                                    <input type="text" class="form-control" ng-model="cliente.codigo" id="inputCodigo"
                                        placeholder="Ex: 12345678900-1">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputNome">Aluno:</label>
                                    <input type="text" class="form-control" ng-model="cliente.nome" id="inputNome"
                                        placeholder="Ex: José da Silva-">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="inputCargo">Campos:</label>
                                    <input type="text" class="form-control" ng-model="cliente.cargo" id="inputCargo"
                                        placeholder="Ex: Uberlândia">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inpuEndereco">Justificativa:</label>
                                    <input type="text" class="form-control" ng-model="cliente.endereco"
                                        id="inputEndereco" placeholder="Ex: atraso médico">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="inputCidade">Horário:</label>
                                    <input type="text" class="form-control" ng-model="cliente.cidade" id="inputCidade"
                                        placeholder="Ex: 07:30">
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="inputCEP">Curso:</label>
                                    <input type="text" class="form-control" ng-model="cliente.cep" id="inputCEP"
                                        placeholder="Ex: Sistemas pra Internet">
                                </div>
                            </div>
                        </form>

                    </div>

                    <div role="tabpanel" class="tab-pane" id="dados">
                        <br />
                        <input type="text" class="form-control" ng-model="criterio"
                            placeholder="O que você está procurando?">
                        <br />
                        <table border="3px" cellpadding="5px" cellspacing="0" ID="alter" class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Matrícula Aluno</th>
                                    <th>ALuno</th>
                                    <th>Campos</th>
                                    <th>Justificativa</th>
                                    <th>Horário</th>
                                    <th>Curso</th>
                                    

                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="clienteTabela in clientes | filter:criterio"
                                    ng-click="seleciona(clienteTabela)">
                                    <td>{{clienteTabela.codigo}}</td>
                                    <td>{{clienteTabela.nome}}</td>
                                    <td>{{clienteTabela.cargo}}</td>
                                    <td>{{clienteTabela.cep}}</td>
                                    <td>{{clienteTabela.cidade}}</td>
                                    <td>{{clienteTabela.endereco}}</td>
                                    

                                </tr>
                            </tbody>
                        </table>

                        <a class="link" href="menu.html">Voltar</a>  


                        <span ng-show="(fornecedores | filter:criterio).length == 0">
                            Infelizmente não temos o item que você está procurando!
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>